body {
    text-align: center;
    width: 80%;
    font-family: sans-serif;
    margin: 0 auto;
    top: 0;
    
}

.navbar .logo {
    float: left;
    margin: auto 0;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}

.navbar {
    background: aqua;
    height: 40px;
    margin: 0;

}

.navbar-ul {
    list-style: none;
    padding: 10px 30px;
    float: right;
    margin: 0;
    display: block;
}

.navbar-ul li {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
        
}

main {
    clear: right;
}

main a {
    text-decoration: none;
}

main li {
    list-style: none;
}

a:visited {
    text-decoration: none;
}

.navbar-ul a {
    padding: 13px 0;
}

.navbar-ul a:hover {
    background:darkblue;
    color: white;
}

